@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #057DCD;
  --color-secondary: #17B1B4;
  --color-dark: #213746;
}

html{
  background-color: #E8EEF1;
}

body{
  overflow-x: hidden;
  color: var(--color-dark);
}

.nav-link{
  position: relative;
  opacity: .7;
}

.nav-link.active{
  opacity: 1;
}

.nav-link::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  height: 3px;
  width: 0;
}

.nav-link:hover{
  opacity: 1;
}

.nav-link:hover::after{
  transition: .5s;
  width: 100%;
  background-color: var(--color-primary);
}

.nav-link.active::after{
  background-color: var(--color-primary);
  width: 100%;
}

.bullets{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3d5564c2;
}

.bullets.active{
  background-color: var(--color-primary);
}

.shadow-picture{
  background: linear-gradient(50deg, #057dcd33, #17b1b400);
}